
{% extends "container-normal.html" %}

{% block styles %}

<link href="{{ url_for('static', filename='css/main-bootstrap.css') }}" rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}


<h1 style="text-align:center; margin-top:0; margin-bottom:30px; /*color: #005eff;*/">Greynir - Málgreining fyrir íslensku</h1>

<div class="row">
   <div class="col-md-4">
      <div class="panel panel-info">
         <div class="panel-heading">Lorem ipsum</div>
         <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-info">
         <div class="panel-heading">Lorem ipsum</div>
         <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-info">
         <div class="panel-heading">Lorem ipsum</div>
         <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-info">
         <div class="panel-heading">Lorem ipsum</div>
         <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-info">
         <div class="panel-heading">Lorem ipsum</div>
         <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-info">
         <div class="panel-heading">Lorem ipsum</div>
         <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
      </div>
   </div>
</div>


{% endblock %}

{% block endscripts %}

<script>

   $(document).ready(function() {

   });

</script>

{% endblock %}

